body {
    font-family: 'Fascinate', cursive;
}

.nav {
    
    height: 200px;
    display: block;
    position: sticky;
    top:0;
  }

  .nav ul li {
    margin: 10px;
    padding: 0px;
    float: right;
    list-style: none;
    display: block;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
  }
  
  .nav a:hover {
    background-color: white;
    padding: 10px 10px 10px 10px;
  }
  h1 {
text-align: center;
   font-family: fantasy;
    font-size: 35px;
    font-weight: normal;
    color: deeppink;
    text-decoration-style: wavy;
}

h2 {
font-style: cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}

 span {
    
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;



}
h3 {
    text-align: center;
}

#customerOrder{
    display: none;
  }
  
  #displayWell{
    background-image: url(../images/p.jpg);
    background-size: 100%;
    color: white;
    text-shadow: 5px 5px black;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  #leftCol{
    background-color: green;
    height: 100%;
  }
  
  #rightCol{
    background-color: red;
    height: 100%;
    
  }
  
  #cancelButton{
    float: right;
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
  }
  
  #orderButton{
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
  }
  
  

  .well{
    background-color:white;
    padding: 30px;
    border-radius: 30px;
    font-family: 'Comfortaa', cursive;
  }
  
  .orderTitle{
    text-align: center;
    margin-top: 50px;
  }
  
  body{
    background-image: url(../images/);
    background-size: auto;
  }
  
  ul{
    list-style: none;
    font-size: 3em;
    text-align: center;
  }
  label{
    font-size: 2em;
    font-family: times;
    font-family: 'Comfortaa', cursive;
  }
  #contact {
    background-image: url(../images/p1.jpg);